.contents
  .contents__side
    = render partial: 'share/content', locals: { group: @group }
    = render partial: 'share/grouplist', collection: @groups, as: :group
  .contents__main
    .contents__main__top
      = link_to edit_group_path(@currentgroup) do
        %btn.contents__main__top__edit-button Edit
      .contents__main__top__group-name
        = @currentgroup.name
      .contents__main__top__participant
        Member :
        - @currentgroup.users.each do |user|
          = user.name
    .line
    .contents__main__middle
      = render partial: 'share/messagelist', collection: @messages, as: :message
    .contents__main__bottom
      .contents__main__bottom__form
      = form_for [@currentgroup, @message], url: { action: :create } do |f|
        = f.text_field :body, class: "contents__main__bottom__form__text-field", placeholder: "type a message"
        %label.contents__main__bottom__form__picture-field
          = f.file_field :image, class: "contents__main__bottom__form__picture-field-label"
          %i.fa.fa-file-picture-o.icon
        = f.submit value: "Send", class: "contents__main__bottom__form__button"
