.contents__main__middle__message-content{ "data-message-id": "#{message.id}" }
  .contents__main__middle__message-content__over
    .contents__main__middle__message-content__over__user-name
      = message.user.name
    .contents__main__middle__message-content__over__post-time
      = Message.times_set(message)
  .contents__main__middle__message-content__under
    .contents__main__middle__message-content__under__message
      = message.body
    .contents__main__middle__message-content__under__image
      = image_tag message.image


